.lista-alumnos-container {
  align-items: center;
  margin: 3%;
}

.lista-alumnos-container h2 {
  text-align: center;
  font-size: 2rem;
}

.agregar-alumno {
  display: flex;
  align-items: center;
}

.botones-agregar {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
}

.btn-agregar {
  margin: 20px auto;
  font-size: 25px;
  background-color: #019621;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-agregar-al {
  margin: 20px auto;
  font-size: 25px;
  background-color: #0d8bf9;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 20px;
}

.btn-agregar-al:hover {
  background-color: #0d8bf9;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.btn-agregar:hover {
  background-color: #01951e;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.tarjetas-alumnos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.tarjeta-alumno {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  border-radius: 15px;
}

.tarjeta-alumno p {
  padding: 3px 0;
}

.tarjeta-alumno h4 {
  margin-bottom: 10px;
  color: #2d2a2a;
  font-weight: bold;
}

.acciones-alumno {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.acciones {
  width: 58%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.acciones i {
  background-color: #074ac7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.acciones i:hover {
  background-color: #053f9c;
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.eliminar button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.eliminar button:hover {
  background-color: #ff1a1a;
  transform: scale(1.05);
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
