.lista-alumnos-container {
  align-items: center;
  margin: 3%;
}

.lista-alumnos-container h2 {
  text-align: center;
  font-size: 2rem;
  margin: 40px;
}

.agregar-alumno {
  display: flex;
  align-items: center;
}

.botones-agregar {
  width: 100%;
  margin: 20px 0;
  padding: 10px;
}

.btn-agregar {
  margin: 20px auto;
  font-size: 25px;
  background-color: #019621;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
}

.btn-agregar-al {
  margin: 20px auto;
  font-size: 25px;
  background-color: #0d8bf9;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  margin-left: 20px;
}

.btn-agregar-al:hover {
  background-color: #0d8bf9;
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.btn-agregar:hover {
  background-color: #01951e;
  transform: scale(1.05);
  transition: all 0.3s ease;
}
