.navbar {
  background: linear-gradient(to right, #1f95c0, #39f2ca);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 50px;
  margin: 10px;
  border-radius: 20%;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.navbar ul li {
  margin: 0 15px;
}

ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

ul li a:hover {
  color: #1f67c0;
  transition: color 0.3s ease;
}
