.lista-alumnos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #ffffff;
  font-weight: bold;
  color: #000000;
}
td {
  border-bottom: 1px solid #ddd;
}
